<!doctype html>
<html lang="pt-br">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="UTF-8">
<link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

<div class="home-container">
  <div class="home-box">
    <img src="/static/imgs/logo.webp" class="logo">
    <h1>🎵 Sistema de Cadastro de Músicas</h1>
    <p>Organize suas músicas favoritas</p>
    <button onclick="window.location.href='/form'">Começar</button>
  </div>
</div>

</body>
</html>