{% extends 'base.html' %}

{% block content %}

<div class="row">
    {% for jogo in listaJogos %}
    <div class="col-md-3 mb-4">
        <div class="card h-100">
            <img src="{{jogo.thumbnail}}" alt="{{jogo.title}}">
            <div class="card-body d-flex flex-column">
                <h5>{{jogo.title}}</h5>
                <p>{{jogo.genre}}</p>
                <p>{{jogo.platform}}</p>
                <div class="mt-auto">
                    <a href="{{url_for('apigames', id=jogo.id)}}" class="btn btn-dark">+ Informações</a>
                    <a href="{{jogo.game_url}}" target="_blank" class="btn btn-danger">Jogar</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}