{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-md-8 m-auto">
        <a href="{{url_for('apigames')}}" class="btn btn-dark mb-3">Voltar para lista</a>

        <div class="card">
            <img src="{{jogoInfo.thumbnail}}" alt="{{jogoInfo.title}}">
            <div class="card-body">
                <h3>{{jogoInfo.title}}</h3>
                <p><strong>Gênero:</strong> {{jogoInfo.genre}}</p>
                <p><strong>Descrição:</strong> {{jogoInfo.short_description}}</p>
                <p><strong>Plataforma:</strong> {{jogoInfo.platform}}</p>
                <p><strong>Editora:</strong> {{jogoInfo.publisher}}</p>
                <p><strong>Data de Lançamento:</strong> {{jogoInfo.release_date}}</p>
                <a href="{{jogoInfo.freetogame_profile_url}}" class="btn btn-danger">Jogar</a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}